<div data-template="navbar">
{{/**/}}
</div>
<div data-template="tuts"></div>
<div class="container">
    <hr>
</div>
<div data-template="faq"></div>

<script>
    window.help = window.help || {};
    scripts = window.help;
    requestAnimationFrame(() => window.smoothScroll(document.documentElement));

    scripts.dropDown = () => {
        let dropdown = document.getElementById('dropdown');
        if (dropdown) {
            dropdown.onclick = function () {
                this.classList.contains('is-active')
                        ? this.classList.remove('is-active')
                        : this.classList.add('is-active');
            }
        }
    };

    scripts.dropDown();


    scripts.getHelp = () => {
        aja()
                .method('get')
                .url("/api/help/")
                .type('html')
                .on('200', (r) => {
                    let df = document.createRange().createContextualFragment(r);
                    document.querySelector(".section").innerHTML = df.querySelector('#content').innerHTML;
                })
                .go();
    };

    /*scripts.getHelp();*/
</script>