<div data-template="navbar">
{{/**/}}
</div>

<section class="section fadeIn">
    <section class="hero is-large is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-3">
                    Dashboard
                </h2>
                <p id="welcome"></p>
                <hr>
                <div class="buttons">
                    <a id="create" href="#signatures/create" class="button is-success">Créer une signature</a>
                    <a id="profiles" href="#profiles" class="button is-outlined">Vos profils</a>
                    <a id="signatures" href="#signatures" class="button is-outlined">Vos signatures</a>
                    <a href="#help/tuts" class="button is-outlined">Tutoriels en vidéos: utilisation du logiciel</a>
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    window.setup = window.setup || {};
    let scripts = window.setup;

    scripts.getProfiles = () => {
        let welcome = document.getElementById('welcome');
        let profiles = document.getElementById('profiles');
        let create = document.getElementById('create');
        let signatures = document.getElementById('signatures');

        aja()
                .url("/api/profiles/")
                .method("get")
                .type('json')
                .on('success', (json) => {
                    if (json.length < 1) {
                        // no profiles
                        welcome.textContent = "Vous n'avez pas créé de profil. Un profil est nécessaire pour générer une ou plusieurs signatures. Cliquez sur \"Créer un profil\" ci-dessous pour commencer.";
                        welcome.classList.add('notification', 'is-info');

                        create.style.display = "none";
                        signatures.style.display = "none";
                        profiles.textContent = "Créer un profil";
                        profiles.classList.add('is-success');
                        profiles.classList.remove('is-outlined');
                        return;
                    }

                    welcome.innerHTML = `Vous avez ${json.length} profil(s). Vous pouvez maintenant créer une signature, ou en installer une disponible. <br><br>Un profil est un élément qui permet d'enregistrer vos coordonnées pour créer des signatures avec. Votre signature sera donc dépendante des champs remplis dans votre profil (la langue y compris), ainsi, pour créer deux signatures dans deux langues différentes, vous aurez donc deux profils.<br><br>Ce logiciel gère la structure du fichier signature, pour toute modification, il est vivement <em class="has-text-danger">déconseillé</em> de modifier la signature via Outlook, car celui-ci va "casser" votre signature dans sa structure. Vous pouvez par contre réinstaller votre signature pour la réparer.`;
                })
                .go();
    }

    scripts.getProfiles();
</script>