<div data-template="navbar">
    <!-- gets cached -->
</div>

<style>
    p {
        margin: 10px 0;
    }
</style>

<section class="section fadeIn">
    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-3">
                    Vos profils
                </h2>
                <p class="subtitle">
                    Gérez vos différents profils, par exemple votre profil pour les correspondances en anglais et votre profil pour les correspondances en français.
                </p>
                <p>
                    Un profil est la base d'une signature: c'est lui qui va dicter au modèle de la signature quels éléments elle doit afficher. Vous pouvez créer plusieurs
                    signatures pour un seul profil, cependant, vous devez créer des profils différents en fonction de vos besoins (plusieurs boites de réception, plusieurs
                    langues...).
                </p>
                <p class="has-text-danger">
                    <strong>Attention</strong>: lorsque vous modifiez un profil, la signature n'est pas mise à jour. Vous devez la supprimer, la recréer et la réinstaller.
                </p>
                <p class="notification is-warning">
                    Vous n'avez pas de profil(s). <strong>Il vous faut un profil par langue</strong>, et avant de créer votre signature, vous devez en créer au moins un. Cliquez sur "Créer un nouveau profil" et remplissez les champs à l'écran
                    suivant.
                </p>
                <p>
                    Lorsque vous supprimez un profil, toutes les signatures créées avec seront supprimées également.
                </p>
                <div id="modal" class="notification has-background-light floats fadeIn" style="display:none">
                    <div>
                        <button class="delete"></button>
                        <p class="has-text-success">Votre profil a été bien créé! Vous pouvez maintenant créer votre signature, ou créer un autre profil</p>
                        <p>
                            <a href="#signatures/create" class="button is-dark">Créer une nouvelle signature</a>
                            <a href="#profiles" onclick="modal.style.display='none'" class="button is-dark">Créer un nouveau profil</a>
                            <a href="javascript:void(0)" onclick="modal.style.display='none'" class="button is-dark is-outlined">Fermer la fenêtre</a>
                        </p>
                    </div>
                </div>
                <div id="profiles-list" class="columns is-centered is-multiline">
                    <!--Card Template-->
                    <div class="column is-4 is-hidden">
                        <div class="card move-up" data-id="${Id}" data-identifier="${Identifier}">
                            <header class="card-header">
                                <p data-edit data-FirstName="${FirstName}" data-LastName="${LastName}"
                                   class="card-header-title">
                                    ${FirstName} ${LastName}
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p data-edit data-Email="${Email}" data-Department="${Department}"
                                       data-Title="${Title}" data-Phones="${Phones}">
                                        Identifiant: <b>${Identifier}</b><br>
                                        Email: <a href="mailto:${Email}">${Email}</a><br>
                                        Service: ${Department}<br>
                                        Titre: ${Title}<br>
                                        Tél(s): ${Phones}
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="javascript:void(0)" data-id="${Id}" data-profile="${FirstName}${LastName}" data-identifier="${Identifier}" data-edit
                                   class="card-footer-item">Edit</a>
                                <a href="javascript:void(0)" data-id="${Id}" data-profile="${FirstName}${LastName}" data-identifier="${Identifier}" data-delete
                                   class="card-footer-item">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <hr>
                <a id="create" href="#!form" class="button is-success">Créer un nouveau profil</a>
                <a id="signatures" href="#signatures/create" class="button">Créer une nouvelle signature</a>
            </div>
        </div>
    </section>
</section>

<div data-template="profiles-form"></div>

<script>
    /**
     *    Registering to the global object
     */
    window.profiles = window.profiles || {};
    let scripts = window.profiles;
    let template = scripts.template || null;

    /**
     * Get profiles from API, contains a JSON of data. It gets a generic templates, duplicates it and replaces placeholder with json values
     * */
    scripts.getProfiles = () => {
        let card = scripts.template || document.querySelector('#profiles-list .column');
        aja()
                .url("/api/profiles/")
                .method("get")
                .type('json')
                .on('success', (json) => {
                    if (json.length < 1) {
                        // no profiles
                        document.getElementById('signatures').style.display = "none";

                        return;
                    }
                    if (cache.getItem('profileCreated') === "true") {
                        scripts.showModal();
                        cache.removeItem('profileCreated');
                    }

                    template = replacr(json, card);
                    window.smoothScroll(document.documentElement);
                    scripts.template = template;
                    document.querySelector('.notification.is-warning').style.display = "none";
                    admin.updateMessage("Profiles loaded");
                })
                .go();
    };

    /**
     * Profile deletion
     * */
    scripts.deleteProfile = (el) => {
        let id = el.dataset.id;
        let identifier = el.dataset.identifier;
        let profile = el.dataset.profile.toLowerCase();
        aja()
                .method('post')
                .url("/api/profiles/delete")
                .data({id: id, identifier: identifier, profile: profile})
                .on('200', () => {
                    setTimeout(() => {
                        scripts.getProfiles()
                    }, 500);
                })
                .go();
    };

    scripts.cards = () => {
        let cards = document.querySelector('#profiles-list');

        let buttons = (e) => {
            if (e.target) {

                /*
                 * "Delete" was clicked
                 */
                if (e.target.dataset.delete !== undefined) {
                    let ask = confirm(`Ceci va supprimer toutes les signatures liées à ce profil. Êtes-vous sûr?`);

                    if (ask) {
                        cards.querySelector(`[data-id="${e.target.dataset.id}"]`).classList.remove('move-up');
                        scripts.deleteProfile(e.target);

                        let timeout = setTimeout(() => {
                            cards.querySelector(`[data-id="${e.target.dataset.id}"]`).classList.add('scale-down-y');
                        }, 5);
                    }

                    return;
                }

                /*
                 * "Edit" was clicked
                 */
                if (e.target.textContent.toLowerCase() === 'edit') {
                    let el = e.target;
                    while (!el.classList.contains('card')) {
                        el = el.parentElement;

                        if (el.classList.contains('card')) break;
                    }
                    scripts.edit(el);
                }
            }
        };

        cards.removeEventListener('click', buttons);
        cards.addEventListener('click', buttons);
    };

    scripts.cards();

    /**
     * Edit function
     * */
    scripts.edit = (el) => {
        let id = el.querySelector('[data-id]');
        let identifier = el.querySelector('[data-identifier]');
        let editables = el.querySelectorAll('[data-edit]:not(a)');
        let notification = document.querySelector('.notification.is-warning').cloneNode(true);

        let editButton = el.querySelector('a[data-edit]');
        editButton.textContent = "Save";
        editButton.style.cssText = "background: #23d160; color: #fff";
        delete(editButton.dataset.edit);

        editButton.onclick = () => {
            let inputs = el.querySelectorAll('.card-overlay input');
            let data = {
                id: id.dataset.id,
                identifier: identifier.dataset.identifier
            };

            inputs.forEach((input) => {
                if (input.dataset.content === "phones") {
                    data[input.dataset.content] = input.value !== "" ?
                            input.value.replace(/[ ]/g, "").split(',')
                            : input.placeholder.replace(/[ ]/g, "").split(',')
                } else {
                    data[input.dataset.content] = input.value !== "" ?
                            input.value : input.placeholder
                }
            });

            aja()
                    .method('post')
                    .url('/api/profiles/edit')
                    .data(data)
                    .on('success', () => {
                        el.removeChild(el.querySelector('.card-overlay'));
                        scripts.getProfiles();
                    })
                    .go();
        };

        let overlay = document.createElement('div');
        let input = document.createElement('input');

        editables.forEach(function (editable) {
            let data = editable.dataset;

            for (key in data) {
                if (['identifier', 'firstname', 'lastname', 'department', 'email', 'department', 'title', 'phones'].includes(key)) {
                    input.setAttribute('value', data[key]);
                    if (key === "phones") input.setAttribute('value', data[key].replace(/[ ]/g, "").split('/').join(','))
                    input.setAttribute('data-content', key);
                    overlay.innerHTML += `${key} : ${input.outerHTML}<br>`;
                }
            }
        });
        notification.textContent = "Attention: après modification, toutes les signatures liées à ce profil doivent être recréées.";
        notification.style.cssText = "display: block; font-size: 12px;text-transform:none;";
        overlay.appendChild(notification);

        overlay.classList.add('closing-in', 'card-overlay');
        el.insertBefore(overlay, el.children[1]);
    };

    let modal = document.getElementById('modal');
    modal.querySelector('button').onclick = function () {
        modal.style.display = "none"
    };

    scripts.showModal = () => {
        modal.style.display = "";
    };

    /**
     * Init functions
     * */
    window.profiles.getProfiles();
</script>