<div data-template="navbar"></div>

<section class="section fadeIs">
    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-3">Vos signatures</h2>
                <p class="subtitle">
                    Installez ou supprimez vos signatures, selon leur profil.
                </p>
                <p class="subtitle is-6">
                    Pour installer une signature, appuyez simplement sur "Installer" sur la signature de votre choix, puis écrivez un nouvel email et choisissez dans "Signatures"
                    votre nouvelle signature (format: nomprenom-identifiant-date).
                    <br>
                    <br>
                    Lorsque vous désinstallez/supprimez une signature, celle-ci se supprime de Outlook automatiquement. De même, lorsque vous supprimez un profil, toutes les
                    signatures rattachées sont désinstallées et supprimées.
                </p>
                <p class="notification is-warning">La fonctionnalité pour les éditer n'étant pas encore en place, vous devez pour le moment supprimer la signature et la recréer. De
                    même, lorsque vous éditez un profil, il faudra supprimer et recréer les signatures pour les mettre à jour.
                </p>
                <div id="modal" class="notification has-background-dark fadeIn" style="display:none">
                    <button class="delete"></button>
                    <p class="has-text-success">Votre signature est installée! Vous pouvez dès maintenant l'utiliser sur Outlook. Composez un nouveau message, et choisissez
                        votre signature nouvellement
                        installée (<em>prenomnom-nomsignature-date</em>).</p>
                    <hr>
                    <p>
                        Voulez-vous:
                    </p>
                    <p>
                        <a href="#profiles" class="button is-light">Créer un nouveau profil?</a>
                        <a href="#signatures/create" class="button is-light">Créer une nouvelle signature?</a>
                        <a href="javascript:void(0)" onclick="modal.style.display='none'" class="button is-dark">Fermer la fenêtre</a>
                    </p>
                </div>
                <hr>
                <div class="buttons">
                    <a href="#signatures/create" class="button is-success">Créer une signature</a><br>
                    <a href="#profiles" class="button">Créer un profil</a><br>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <hr>
            <p id="confirm" class="notification is-success" style="display:none;">
                Votre signature a été créée avec succès! Vous pouvez maintenant cliquer sur "Installer" pour pouvoir l'utilser.
            </p>
            <div class="signatures-list"></div>
        </div>
    </section>
</section>

<script>
    window.signatures = window.signatures || {};
    let scripts = window.signatures;
    scripts.data = {};


    scripts.getSignatures = () => {
        aja()
                .method('get')
                .url('/api/signatures/')
                .type('json')
                .on('success', (data) => {
                    scripts.data = data;
                    scripts.render();
                })
                .go();
    };

    scripts.render = () => {
        /**
         * scripts.data looks like this:
         * templates > profiles of templates > identifiers > x signatures
         * */
        let list = $('.signatures-list');
        let templates = Object.keys(scripts.data); // gets first level
        let html = {};
        let column = document.createElement('div');
        let thereWasSomething = false;

        //clean(list);

        /**
         * For each profile, create a container, and fill it with its related signatures
         * @param {string} template
         * @return {Array} html
         * */
        let getProfiles = (template) => {
            let html = [];
            for (let profile in scripts.data[template]) {
                if (Object.keys(scripts.data[template][profile]).length !== 0) {
                    html.push($.create('div', {
                        attributes: {"data-profile": profile, "data-sig": template},
                        contents: [
                            {
                                tag: "p",
                                textContent: profile,
                                className: "subtitle is-4 is-capitalized"
                            },
                            {
                                tag: 'div',
                                className: "columns is-centered is-multiline",
                                contents: getSignatures(template, profile),
                            },
                        ]
                    }));
                    thereWasSomething = true;
                }
            }

            if (thereWasSomething) window.smoothScroll(document.querySelector('section:last-child'));

            if (cache.getItem('signatureCreated') === "true") {
                cache.removeItem('signatureCreated');
                let confirm = document.getElementById('confirm');
                confirm.style.display = "";
                setTimeout(() => {
                    confirm.classList.add('scale-down-y');
                }, 5000);
            }

            return html;
        };

        /**
         * Get signatures from a given template and profile
         * @param {string} template
         * @param {string} profile
         * @return {Array} html
         * */
        let getSignatures = (template, profile) => {
            let html = [];
            for (let identifier in scripts.data[template][profile]) {
                scripts.data[template][profile][identifier].forEach((signature) => {
                    let card = new Card();
                    let j = JSON.parse(signature.json);
                    let s = card.placeholders.signature;
                    let b = card.placeholders.buttons;
                    let c = card.placeholders.content;
                    let name = (j.profile.FirstName + j.profile.LastName).toLowerCase().replace(/[-]/ig, "");
                    let filename = `${name}-${j.profile.Identifier}-${signature.id}`;

                    b.dataset.id = signature.id;
                    b.dataset.file = filename;
                    b._.delegate('click', 'a', scripts.signatureActions);

                    s.innerHTML = signature.htm;

                    c._.contents({
                        tag: 'p',
                        innerHTML: `${j.profile.FirstName} ${j.profile.LastName} - profil utilisé: <b>${j.profile.Identifier}</b>`,
                        attributes: {
                            filename: filename,
                        }
                    });

                    card.insert(s);
                    card.insert(b);

                    scripts.getInstalledStatus(signature.id, filename);

                    html.push($.create('div', {
                        attributes: {'data-id': signature.id, class: "move-up"},
                        contents: card.render()
                    }));
                });
            }

            return html;
        };


        // We determine first how many templates there are
        templates.forEach((template) => {
            html[template] = column.cloneNode(true)._.contents([
                {
                    tag: "p",
                    textContent: `Template ${template}`,
                    className: "subtitle is-3 is-capitalized has-text-weight-semibold"
                },
                {
                    tag: 'div',
                    className: ""
                },
            ]);

            html[template]._.contents(getProfiles(template));
        });

        list.innerHTML = "";

        for (let template in html) {
            if (html.hasOwnProperty(template)) {
                list.appendChild(html[template]);
            }
        }
    };

    scripts.getInstalledStatus = (id, file, callback = null) => {
        aja()
                .url("/api/signatures/isinstalled")
                .method('get')
                .type('json')
                .data({file: file})
                .on("success", (r) => {
                    // check if r is true
                    let content = document.querySelector(`div[data-id="${id}"] .content :first-child`);
                    let install = document.querySelector(`footer[data-id="${id}"] [data-action="install"]`)

                    install.textContent = "Installer";
                    install.classList.remove("has-text-danger");
                    install.classList.add("has-background-success");

                    if (r.installed === true) {
                        install.textContent = "Désinstaller";
                        install.classList.add("has-text-danger");
                        install.classList.remove("has-background-success");
                        content.innerHTML = `<span class="tag is-rounded is-success">Installée</span> - ${content.innerHTML}`;
                    }

                    if (callback) callback.go();
                })
                .go()

    };

    let modal = document.getElementById('modal');
    modal.querySelector('button').onclick = function () {
        this.parentElement.style.display = "none"
    };

    scripts.showModal = (element, filename) => {
        if (element.textContent.trim().toLowerCase() === "installer") {
            modal.querySelector('em').textContent = filename || "nomprenom-nomsignature-date";
            modal.style.display = "";
        }
    };

    scripts.signatureActions = (evt) => {
        if (evt.target && evt.target.localName === "a") {
            let action = evt.target.dataset.action;
            let id = evt.target.parentElement.dataset.id;
            let file = evt.target.parentElement.dataset.file;

            if (action === "install") {
                /**
                 * do a query to server.
                 * Servers needs to get the sid ID and check dest folder if file is there or not.
                 * If not: copy the file, report "installed", update button field's text to "remove"
                 * If yep: report "installed" as prompt user to remove. Update button field's to "install"
                 */
                console.log(action, id, file);
                scripts.getInstalledStatus(id, file, aja()
                        .url("/api/signatures/install")
                        .method("post")
                        .type("json")
                        .data({file: file})
                        .on('success', (res) => {
                            scripts.getSignatures();
                            scripts.showModal(evt.target, evt.target.parentElement.dataset.file);
                            console.log(res);
                        }));

                return;
            }

            if (action === "edit") {
                /**
                 * Query server with sig ID, must return sig's json for proper editing.
                 * With the json, create a new signature object from templates, get the fields, and simply re-encode
                 * the signature, then check if installed remotely, update the file there.
                 * fixme: need to implement multiple templates support.
                 * */
                console.log(action, id, file);

                return;
            }

            if (action === "delete") {
                /**
                 * Query server with sig ID, check if file is installed in remote folder,
                 * remove it from there if found, and delete it locally. Finally, report to
                 * user the signature was deleted (visually or something)
                 * */
                console.log(action, id, file);
                aja()
                        .url('/api/signatures/delete')
                        .method('post')
                        .type('json')
                        .data({id: id, file: file})
                        .on('success', (r) => {
                            if (r.identifier === file && r.status === "deleted") {
                                let signature = document.querySelector(`.signatures-list [data-id="${id}"]`);
                                signature.classList.remove('move-up');

                                setTimeout(() => {
                                    signature.classList.add('scale-down-y');
                                }, 1)
                                // fixme: not fluid and abrupt
                                //location.reload();
                                setTimeout(() => {
                                    scripts.getSignatures();
                                }, 501);
                            }
                        })
                        .go();

                return;
            }
        }
    };

    scripts.getSignatures();

</script>