<div data-template="navbar"></div>

<section class="section fadeIn">
    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-3">Choisissez un modèle:</h2>
                <h4 class="subtitle is-4 glow">Cliquez sur le template de votre choix</h4>
                <div class="columns is-multiline is-centered">
                    <div class="column is-half is-hidden">
                        <a href="#!form">
                            <div class="signatures card move-up">
                                <div class="card-content">
                                    <div class="disabled"></div>
                                    <div class="template"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
                <a href="#signatures" class="button is-danger">Annuler</a>
            </div>
        </div>
    </section>
</section>

<section id="!form" class="section frame">
    <a href="#signatures/create" class="close absolute">
        <span></span><span></span>
    </a>
    <div class="container">
        <hr>
        <section class="">
            <h2 class="title">Aperçu</h2>
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="preview template"></div>
                </div>
            </div>
            <h2 class="title">Configuration</h2>
            <div class="">
                <form class="form" action="/api/signatures/" method="post">
                    <div class="field profiles"></div>
                    <div class="field configuration"></div>
                    <hr>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-success">Créer</button>
                            <a href="#signatures/create" class="button is-danger is-outlined">Annuler</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

<script>
    window.signatures = window.signatures || {};
    let scripts = window.signatures;
    scripts.wasCalled = 0;
    scripts.profiles = {};
    scripts.current;

    scripts.getTemplates = () => {
        let container = document.querySelector('.column.is-hidden'); // signature preview container
        let results = [];
        let script;

        aja()
                .method('get')
                .url('/api/signatures/templates')
                .type('json')
                .header("Content-Type", "text/html;charset=utf-8")
                .on('success', (data) => {
                            for (let template in data) {
                                let c = container.cloneNode(true);

                                document.querySelectorAll('.template').forEach((el) => {
                                    el.innerHTML = data[template].html;
                                });

                                c.querySelector('.template').innerHTML = data[template].html;
                                c.dataset.signature = template;
                                c.classList.remove('is-hidden');
                                results.push(c);
                                script = eval(data[template].js); // adds class to workspace
                            }
                            results.forEach((block) => {
                                container.parentElement.appendChild(block); // adds the demo template
                                block.onclick = () => new window.templates[block.dataset.signature];
                            });

                            admin.updateMessage("Templates loaded", "is-success");
                        }
                )
                .go();
    };

    scripts.getTemplates();
</script>