<table style="border-collapse: separate!important; table-layout: fixed;" width="550" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td align="left" width="274" valign="middle" nowrap="nowrap">
            <div style="">
                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; color: rgb(33, 33, 33); margin-bottom: 15px;">
                    <span data-field="firstName" style="font-weight: bold; color: rgb(33, 33, 33); display: inline;">${firstName}</span>
                    <span data-field="lastName" style="font-weight: bold; color: rgb(33, 33, 33); display: inline;">${lastName}</span>
                    <span style="display: inline;">|</span>
                    <span data-field="title" style="color: rgb(33, 33, 33); display: inline;">${title}</span>
                    <span style="display: inline;"><br></span>
                    <span data-field="department" style="color: rgb(33, 33, 33); display: inline;">${department}</span>
                    <span style="display: inline;"><br></span>
                    <a data-field="email" href="mailto:${email}" style="color: rgb(0, 119, 190); text-decoration: none; display: inline;">${email}</a><span style="color: #212121;"></span>
                </p>
                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 15px;">
                    <span data-field="phone" data-tag="phone phone.pretty" style="color: rgb(33, 33, 33); display: inline;">Tel: <a href="tel:${phone}" style="color: rgb(0, 119, 190); text-decoration: none; display: inline;">${phone.pretty}</a></span>
                    <span style="display: inline;"><br></span>
                    <a href="https://www.google.ch/maps/place/Avenue+de+Rhodanie+2,+1007+Lausanne/@46.5079627,6.62258,17z/" style="color: rgb(33, 33, 33); text-decoration: none; display: inline;">Av.
                        de Rhodanie 2, CP 975, 1001 Lausanne</a>
                    <span></span>
                </p>
                <p data-field="social"  style="font-size: 0px; line-height: 0; font-family: Helvetica, Arial, sans-serif;">
                    <a data-tag="social.link" style="text-decoration: none; display: inline;" href="${social.link}">
                        <img data-tag="social.name" style="margin-bottom:2px; border:none; display:inline;" src="https://www.my-lausanne.com/wp-content/uploads/signature/${social.name}.png" alt="${social.name}" height="16" width="16">
                    </a>
                    <span style="white-space: nowrap; display: inline;">
                        <img src="https://www.my-lausanne.com/wp-content/uploads/signature/spacer.png" width="8">
                     </span>
                </p>
            </div>
        </td>
        <td style="border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 119, 190);" align="left" width="8" valign="middle" nowrap="nowrap">
            <img src="https://www.my-lausanne.com/wp-content/uploads/signature/spacer.png" width="8">
        </td>
        <td align="left" width="182" valign="middle">
            <p style="margin-bottom: 10px; margin-right: 8px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
                <a style="text-decoration:none" href="http://www.lausanne-tourisme.ch/">
                    <img src="https://www.my-lausanne.com/wp-content/uploads/signature/logo_LT_couleurs.png" alt="Lausanne Tourisme" height="57" width="182" border="0">
                </a>
            </p>
            <p data-field="flag" style="margin-bottom: 10px; margin-right: 8px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
                <a style="text-decoration:none" href="${flag.link}">
                    <img src="https://www.my-lausanne.com/wp-content/uploads/signature/${flag.name}.png" alt="${flag.name}" height="32" width="120" border="0">
                </a>
            </p>
        </td>
    </tr>
    <tr data-field="note">
        <td colspan="3">
            <p style="font-family: Helvetica, Arial, sans-serif; color: #212121; font-size: 9px; line-height: 12px; margin-top:10px;"></p>
        </td>
    </tr>
    <tr data-field="banner">
        <td width="550">
            <p style="font-family: Helvetica, Arial, sans-serif; color: #212121; font-size: 9px; line-height: 12px; margin-top:10px;">
                <a style="text-decoration:none" href="${banner.link}">
                    <img src="https://www.my-lausanne.com/wp-content/uploads/signature/${banner.name}.png" alt="${banner.name}" height="32" width="120" border="0">
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>