<table width="550" cellspacing="0" cellpadding="0" border="0" style="border-collapse: separate; table-layout: fixed;">
    <tbody>
    <tr>
        <td align="left" width="90" valign="top" nowrap="nowrap"><a href="https://www.lausanne-tourisme.ch"><img
                        src="https://apps.lausanne-tourisme.ch/signatures/asset/LT-Logo.png" width="80"
                        height="105"></a></td>
        <td align="left" width="10" valign="top" nowrap="nowrap"><img
                    src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"></td>
        <td align="left" width="256" valign="top" nowrap="nowrap"><p
                    style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; color: rgb(33, 33, 33);">
                <span style="font-weight: bold; color: rgb(33, 33, 33); display: inline;">JOHN </span><span
                        data-field="lastName"
                        style="font-weight: bold; color: rgb(33, 33, 33); display: inline;">DOE</span><span
                        style="display: inline;"><br></span><span data-field="title"
                                                                  style="color: rgb(33, 33, 33); display: inline;">PROJECT MANAGER</span><span
                        style="display: inline;"><br></span><span data-field="department"
                                                                  style="color: rgb(33, 33, 33); display: inline;">JOHN DOE SERVICES</span><span
                        style="display: inline;"><br></span><span style="display: inline;"><br></span><span
                        style="font-size: 12px; line-height: 14px; font-family: Helvetica, Arial, sans-serif;">T&nbsp;&nbsp;&nbsp;</span><a
                        data-field="phone" href="tel:0216137373"
                        style="color: rgb(50, 50, 50); text-decoration: none; display: inline; font-size: 12px; line-height: 14px; font-family: Helvetica, Arial, sans-serif;">021
                    613 73 73</a><br style="display: inline;"><span
                        style="font-size: 12px; line-height: 14px; font-family: Helvetica, Arial, sans-serif;">E&nbsp;&nbsp;&nbsp;</span><a
                        data-field="email" href="mailto:john@doe.com"
                        style="color: rgb(50, 50, 50); text-decoration: none; display: inline; font-size: 12px; font-family: Helvetica, Arial, sans-serif;">john@doe.com</a><br
                        style="display: inline;"><a data-field="email"
                                                    href="https://www.linkedin.com/company/lausanne-tourisme-&amp;-convention-bureau/"
                                                    style="color: rgb(50, 50, 50); text-decoration: none; display: inline;"><img
                            width="14" height="14"
                            src="https://apps.lausanne-tourisme.ch/signatures/asset/ln-black-14px.png"
                            style="margin-top: 5px;"></a></p>
            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 15px;">
                <a href="https://www.google.ch/maps/place/Avenue+de+Rhodanie+2,+1007+Lausanne/@46.5079627,6.62258,17z/"
                   style="color: rgb(50, 50, 50); text-decoration: none; display: inline;">Av. de Rhodanie 2 - CP 975
                    <br>1001 Lausanne</a></p></td>
        <td align="left" width="10" valign="top" nowrap="nowrap"><img
                    src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"></td>
        <td style="border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0,0,0)" align="left"
            width="20" valign="top" nowrap="nowrap"><img
                    src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"></td>
        <td align="left" width="142" valign="top" nowrap="nowrap"><a href="https://www.my-lausanne.com/"
                                                                     style="text-decoration: none; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;"><img
                        src="https://apps.lausanne-tourisme.ch/signatures/asset/mylausanne-logo.png" height="70"
                        width="60" border="0"></a>
            <p style="margin-top: 13px; margin-right: 8px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
                <a href="https://www.facebook.com/MyLausanne" style="text-decoration: none;"><img
                            src="https://apps.lausanne-tourisme.ch/signatures/asset/facebook-icon.png" height="15"
                            width="8" border="0"></a><img
                        src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"><a
                        href="https://www.twitter.com/MyLausanne" style="text-decoration: none;"><img
                            src="https://apps.lausanne-tourisme.ch/signatures/asset/twitter-icon.png" height="13"
                            width="14" border="0"></a><img
                        src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"><a
                        href="https://www.instagram.com/MyLausanne" style="text-decoration: none;"><img
                            src="https://apps.lausanne-tourisme.ch/signatures/asset/instagram-icon.png"
                            height="14" width="14" border="0"></a></p>
            <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 8px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; display: block;">
                #MyLausanne<br><a href="https://www.my-lausanne.com/"
                                  style="font-weight: bold; text-decoration: none; color: rgb(0, 0, 0);">my-lausanne.com</a>
            </p></td>
        <td align="left" width="10" valign="top" nowrap="nowrap"><img
                    src="https://apps.lausanne-tourisme.ch/signatures/asset/spacer.png" width="12"></td>
    </tr>
    <tr data-field="note">
        <td colspan="3"><p
                    style="font-family: Helvetica, Arial, sans-serif; color: rgb(33, 33, 33); font-size: 9px; line-height: 12px; margin-top: 10px;"></p>
        </td>
    </tr>
    <div></div>
    </tbody>
</table>