html.has-navbar-fixed-bottom section[id="\!form"] {
    padding-bottom: 5em;
}

#loading:not(#\!error) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -3.25em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section#\!error,
section#\!form {
    display: none;
}

section#\!error:target,
section#\!form:target {
    display: block;
}

#\!form .form label {
    width: 100%;
}

a {
    transition: all 0.33s ease-out;
}

a:hover {
    transition: all 0.33s ease-in;
}

#profiles-list {
    overflow: hidden;
}

.input:empty {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.input {
    box-shadow: 0 0 5px #23d160;
}

#\!form.frame,
.frame {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: all .5s ease;
    padding-top: 3.25em;
    background: white;
    min-height: 100vh;
}

#modal:not(.floats) {
    position:fixed;
    z-index:1000;
    top:50%;
}

#modal.floats {
    width:100%;
    align-content: center;
    justify-content: center;
}

.signatures {
    transition: blur .5s ease-in-out;
    filter: blur(0);
}

.signatures:hover {
    transition: blur .5s ease-in-out;
    filter: blur(1px);
}

#\!form.frame:target {
    /*transform: translateY(0);*/
    transition: all .5s ease;
    animation-name: moveUpPosition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.close {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #acacac;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 45px;
}

.close.absolute {
    position: absolute;
    top: 90px;
    left: 50px;
}

.close span,
.close.absolute span {
    width: 16px;
    height: 2px;
    background: #acacac;
    border-radius: 20px;
    display: block;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 1px);
}

.close span:first-child {
    transform: rotate3d(0, 0, 1, 45deg);
}

.close span:last-child {
    transform: rotate3d(0, 0, 1, 135deg);
}

.close:hover {
    background: #0f81cc;
}

.close:hover span {
    background: #fff;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: white;
    padding: 15px;
    text-transform: capitalize;
    height: calc(100% - 50px);
}

.disabled {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0);
}

.frame.is-visible {
    transform: translateX(0);
}

.signatures-list .column {
    padding: 0 15%;
}

[data-template]:empty {
    height: 50px;
    animation-name: loading;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-template]:after {
    content: "Loading template " attr(data-template);
}

a[disabled], a[disabled]:hover {
    color: #999;
    cursor: default;
}

.banner-preview {
    max-width: 550px;
    width: 550px;
    max-height: 200px;
    object-fit: cover;
}

.signatures-list .card-image {
    height: 230px;
    max-height: 230px;
    overflow: hidden;
}

.signatures-list .columns {
    justify-content: space-around;
    margin-bottom: 30px;
}

.scale-down {
    animation-name: scaleDown;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.scale-up {
    animation-name: scaleDown;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.scale-down-y {
    animation-name: scaleDownY;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.scale-up-y {
    animation-name: scaleDownY;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.scale-down-fluid {
    animation-name: scaleDownFluid;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.scale-up-fluid {
    animation-name: scaleDownFluid;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.move-up {
    animation-name: moveUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    margin-top: 15px;
}

.move-up-position {
    animation-name: moveUpPosition;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.closing-in {
    animation-name: closingIn;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.glow {
    animation-name: glow;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 #2ce28a;
    }

    50% {
        box-shadow: 0 0 50px 0 #2ce28a;
    }

    100% {
        box-shadow: 0 0 0 0 #2ce28a;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        background: #999;
        color: #fff;
    }
    50% {
        background: #ddd;
        color: #323232;
    }
    100% {
        background: #999;
        color: #fff;
    }
}

@keyframes closingIn {
    from {
        opacity: 0;
        transform: /*rotate3d(0, 0, 1, 180deg)*/ translateY(-100%) scale(1.05);

    }
    to {
        opacity: 1;
        transform: /*rotate3d(0, 0, 0, 0deg)*/ translateY(0) scale(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
        min-height: 200px;
        height: 250px;
        max-height: 400px;
    }
    100% {
        transform: scale(0);
        height: 0;
    }
}

@keyframes scaleDownFluid {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaleDownY {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    80% {
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveUpPosition {
    0% {
        position: fixed;
        opacity: 0;
        transform: translateY(100%);
    }
    80% {
        transform: translateY(-10%);
    }
    99% {
        position: fixed;
    }
    100% {
        position: absolute;
        opacity: 1;
        transform: translateY(0)
    }
}