<section class="section fadeIn">
    <div class="container">
        <h2 id="!faq" class="title is-4">-- F.A.Q</h2>
        <ol class="content">
            <li>
                <p><b>Je ne vois plus mes profils ni mes signatures, alors que l'application semble fonctionner</b></p>
                <p>Un processus va fermer la fenêtre noire (le serveur) automatiquement le moment où:
                <ul>
                    <li>Vous cliquez sur un lien dans l'application</li>
                    <li>Vous raffraichissez l'application</li>
                    <li>Vous fermez l'onglet de l'application</li>
                </ul>
                Ce processus automatique vous évite de devoir fermer manuellement la fenêtre noire. Relancez simplement l'exécutable <strong>siniu.exe</strong> dans votre
                dossier
                <i>Signature Manager</i>.
                </p>
            </li>
            <li>
                <p><b>Je ne vois aucun profils dans la sélection de profils lorsque je crée une signature</b></p>
                <p>Une signature a besoin d'un profil pour être créée. Cliquez sur le bouton "Créer un profil" à côté du champ de sélection pour vous rendre sur la page
                    <i>profil</i> et en créer un.</p>
            </li>
            <li>
                <p><b>J'ai plusieurs numéros de téléphones dans mon profil mais seulement un seul s'affiche dans ma signature</b></p>
                <p>Le template de la signature ne prévoit pas d'affichage de téléphones multiples. Vous pouvez créer un autre profil avec un autre numéro.</p>
            </li>
            <li>
                <p><b>J'ai modifié mon profil mais ma signature n'a pas changé</b></p>
                <p>Les profils et signatures ne sont pas liés, les changements ne sont pas reflétés. Vous pouvez supprimer la signature et la recréer.</p>
            </li>
            <li>
                <p><b>Comment puis-je ajouter une bannière à la signature?</b></p>
                <p>En raison des complications qu'impose l'ajout d'une bannière, il vous faudra ajouter manuellement la bannière via le gestionnaire de signature d'Outlook.</p>
                <p class="notification is-warning"><strong>Attention</strong>: ajouter une bannière peut potentiellement "casser" la signature</p>
            </li>
            <li>
                <p><b>J'ai modifié via Outlook la signature, et maintenant elle est "cassée"</b></p>
                <p>Le logiciel garantit que la signature fonctionne tout le temps. Cependant, la modification manuelle de n'importe quel élément d'une signature entraine de multiples changements invisibles qui vont "casser" le fonctionnement normal de la signature.</p>
                <p class="notification is-success">
                    Vous pouvez désinstaller et réinstaller la signature depuis le logiciel pour réinitialiser la signature
                </p>
            </li>
            <li>
                <p><b>J'ai renommé ma signature dans Outlook et je ne peux plus la désinstaller via le logiciel</b></p>
                <p>Le logiciel compare le nom du fichier de la signature avec ses fichiers internes. Une signature renommée va casser ce lien et le logiciel ne pourra plus détecter la signature. Vous pouvez supprimer la signature via Outlook.</p>
            </li>
        </ol>
    </div>
</section>
