<nav class="navbar is-fixed-top is-light">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a href="#" class="navbar-item is-16x16">
                <img src="/static/favicon.png">
            </a>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item is-active">
                    Dashboard
                </a>
                <a href="#profiles" class="navbar-item">
                    Profils
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#signatures" class="navbar-link">
                        Signatures
                    </a>
                    <div class="navbar-dropdown">
                        <a href="#signatures" class="navbar-item">
                            Vos signatures
                        </a>
                        <a href="#signatures/create" class="navbar-item">
                            Créer une signature
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#help" class="navbar-link">
                        Aide
                    </a>
                    <div class="navbar-dropdown">
                        <a href="#help/tuts" class="navbar-item">
                            Tutoriels
                        </a>
                        <a href="#help/faq" class="navbar-item">
                            F.A.Q
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>