<section id="!form" class="section frame">
    <a href="#profiles" class="close absolute">
        <span></span><span></span>
    </a>
    <div class="container">
        <hr>
        <section class="section">
            <h2 class="title is-3">
                Créer un nouveau profil
            </h2>
            <form class="form" action="/api/profiles" method="post">
                <div class="field">
                    <label for="identifier" class="label">Nom de la signature</label>
                    <div class="control">
                        <input required="required" name="identifier" id="identifier" class="input is-danger" type="text"
                               placeholder="e.g. principal" autocomplete="off">
                    </div>
                    <p class="help">Obligatoire. Ce nom agit comme "étiquette" pour votre signature, par exemple "fr" pour une signature pour vos correspondances en
                        français</p>
                </div>

                <div class="field">
                    <label for="fname" class="label">Prénom</label>
                    <div class="control">
                        <input name="fname" id="fname" class="input" type="text" placeholder="e.g Alex">
                    </div>
                </div>

                <div class="field">
                    <label for="lname" class="label">Nom</label>
                    <div class="control">
                        <input name="lname" id="lname" class="input" type="text" placeholder="e.g Smith">
                    </div>
                </div>

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control">
                        <input name="email" id="email" class="input" type="email"
                               placeholder="e.g. alexsmith@gmail.com">
                    </div>
                </div>

                <div class="field">
                    <label for="title" class="label">Titre</label>
                    <div class="control">
                        <input name="title" id="title" class="input" type="text" placeholder="Project Manager">
                    </div>
                </div>

                <div class="field">
                    <label for="department" class="label">Département</label>
                    <div class="control">
                        <input name="department" id="department" class="input" type="text" placeholder="Digital">
                    </div>
                </div>

                <label class="label">Téléphone</label>
                <div class="field phones has-addons">
                    <div class="control is-expanded">
                        <input name="phone0" class="input" type="text" value="+41 21 613 73 " placeholder="+41 21 613 73 73">
                    </div>
                    <div class="control is-hidden">
                        <a class="button is-danger" onclick="window.profiles.deletePhone(this)">
                            Delete
                        </a>
                    </div>
                </div>

                <div id="addPhone" class="field has-addons is-hidden">
                    <div class="control">
                        <a class="button is-info is-outlined">Ajouter téléphone</a>
                    </div>
                </div>
                <hr>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-success">Créer</button>
                        <a href="#profiles" class="button is-danger is-outlined">Annuler</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>

<script>

    window.profiles = window.profiles || {};
    let scripts = window.profiles;

    /**
     * Adding phones button
     * */
    let addPhoneButton = document.getElementById('addPhone');

    scripts.addPhone = () => {
        let phones = document.querySelectorAll(".phones");
        phones = phones[phones.length - 1];

        let clone = phones.cloneNode(true);
        let name = clone.querySelector('input');
        let total = document.querySelectorAll('.phones');
        name.value = '';
        name.setAttribute('name', name.name.replace(/\d+/g, "") + total.length);

        phones.insertAdjacentElement('afterend', clone);
    };

    addPhoneButton.onclick = scripts.addPhone;


    scripts.deletePhone = (el) => {
        let parent = el;

        while (!parent.classList.contains('phones')) {
            parent = parent.parentElement;
        }

        parent.remove();
    };

    let autocomplete = () => {
        let email = document.getElementById('email');
        let name = document.getElementById('lname');
        let identifier = document.getElementById('identifier');

        identifier.onblur = () => {
            if (identifier.value !== "") identifier.classList.remove('is-danger');
        };
        name.oninput = () => email.value = name.value.toLowerCase();
        email.onfocus = () => {
            if (email.value.indexOf("@") === -1) {
                return email.value += "@lausanne-tourisme.ch";
            } else {
                return null;
            }
        }
    };

    autocomplete();

    /**
     * Form submission to create profile to API
     * */
    scripts.createProfile = () => {
        let form = document.querySelector('.form');

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            let inputs = form.querySelectorAll('input');
            let data = {};

            inputs.forEach((input) => {
                if (input.name.indexOf("phone") > -1) {
                    data[input.name] = input.value.replace(/[ ]/g, "");
                } else {
                    data[input.name] = input.value;
                }
            });

            data.identifier = data.identifier.replace(/[ -]/g, "");

            aja()
                    .method("POST")
                    .url("/api/profiles/")
                    .data(data)
                    .header("Content-Type", "application/x-www-form-urlencoded;charset=utf-8")
                    .on('200', () => {
                        window.profiles.getProfiles();
                        cache.setItem("profileCreated", "true");
                        admin.updateMessage("Profile created");
                        form.reset();
                        location.hash = "#signatures/create";
                    })
                    .go();

            return false;
        });
    };
    window.profiles.createProfile();
</script>