<section class="section fadeIn">
    <div class="container" id="!tuts">
        <h2 class="title is-1">Tutoriels</h2>
        <hr>
        <h4 class="title is-2">Guide complet installation d'une signature</h4>
        <video preload="metadata" src="/static/help/SiniuFullInstall.mp4" class="is-16by9" controls></video>
        <hr>
        <h4 class="title is-2">Créer et éditer un profil</h4>
        <video preload="metadata" src="/static/help/SiniuProfileCreateandEdit.mp4" class="is-16by9" controls></video>
        <hr>
        <h4 class="title is-2">Créer une signature</h4>
        <video preload="metadata" src="/static/help/SiniuSignatureInstall.mp4" class="is-16by9" controls></video>
        <hr>
        <h4 class="title is-2">Créer un deuxième profil pour une deuxième signature</h4>
        <video preload="metadata" src="/static/help/SiniuSecondProfile.mp4" class="is-16by9" controls></video>
    </div>
</section>